<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      .text-left {
        text-align: left;
      }
      .text-center {
        text-align: justify;
      }
      .text-blue {
        color: #4aa0b8;
        font-size: 12px;
      }
      .text-red {
        color: #fa0a0a;
        font-size: 12px;
      }
      .mt-2 {
        margin-top: 10px;
      }
      .mb-2 {
        margin-bottom: 10px;
      }
      .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        border: 1px solid #ce4a2d;
        padding: 10px 0px;
        font-size: 0.8125rem;
        line-height: 1.5385;
        border-radius: 0.1875rem;
        width: 100%;
        margin-right: auto;
        color: #ce4a2d;
        font-size: 16px;
        text-decoration: none;
      }
      .btn:hover {
        background-color: #ea2227;
        color: #fff;
      }
    </style>
  </head>
  <div
    style="
      display: none;
      overflow: hidden;
      line-height: 1px;
      opacity: 0;
      max-height: 0;
      max-width: 0;
    "
  >
    Verify link.
    <div></div>
  </div>

  <body
    style="
      background-color: #ffffff;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    "
  >
    <table
      align="center"
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="
        max-width: 37.5em;
        margin: 0 auto;
        padding: 20px 25px 48px;
        background-image: url('/assets/raycast-bg.png');
        background-position: bottom;
        background-repeat: no-repeat, no-repeat;
      "
    >
      <tbody>
        <tr style="width: 100%">
          <td>
            <span
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 0;
              "
            >
              <img
                alt=".ID"
                height="48"
                width="68"
                src="https://register.domain.id/images/dotid.ico"
                style="
                  display: block;
                  outline: none;
                  border: none;
                  text-decoration: none;
                "
              />
              <span>
                <p
                  style="
                    padding: 0 10px;
                    margin: 0;
                    color: #6b737c;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                  "
                >
                  Pengelola Nama Domain Internet Indonesia
                </p>
                <p
                  style="
                    text-align: center;
                    margin: 0;
                    font-weight: bold;
                    font-size: 18px;
                    color: #6b737c;
                  "
                >
                  (PANDI)
                </p>
              </span>
            </span>
            <hr
              style="
                width: 100%;
                border: none;
                border-top: 1px solid #eaeaea;
                border-color: #dddddd;
                margin-top: 2px;
              "
            />
            <table
              align="center"
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
              style="margin: 16px 0"
            >
              <tbody>
                <tr>
                  <td>{{{Body}}}</td>
                </tr>
              </tbody>
            </table>
            <hr
              style="
                width: 100%;
                border: none;
                border-top: 1px solid #eaeaea;
                border-color: #dddddd;
                margin-top: 28px;
              "
            />
            <table
              align="center"
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              role="presentation"
            >
              <tbody>
                <tr>
                  <td>
                    <span style="display: flex; justify-content: center">
                      <img
                        alt=".ID"
                        height="22"
                        width="38"
                        src="https://register.domain.id/images/dotid.ico"
                        style="
                          display: block;
                          outline: none;
                          border: none;
                          text-decoration: none;
                          -webkit-filter: grayscale(100%);
                          filter: grayscale(100%);
                          margin: 10px 0;
                        "
                      />
                    </span>
                    <p
                      style="
                        font-size: 12px;
                        line-height: 24px;
                        margin: 12px 0;
                        color: #8898aa;
                        margin-left: 4px;
                        text-align: center;
                      "
                    >
                      If you’re having trouble or encountered a problem let us
                      know, email us at
                    </p>
                    <p
                      style="
                        font-size: 12px;
                        line-height: 12px;
                        margin: 12px 0;
                        color: #7e30e1;
                        margin-left: 4px;
                        text-align: center;
                      "
                    >
                      helpdesk@pandi.id
                    </p>

                    <p
                      style="
                        font-size: 12px;
                        line-height: 12px;
                        margin: 16px 0;
                        color: #8898aa;
                        margin-left: 4px;
                        text-align: center;
                      "
                    >
                      © 2022 PANDI. All rights reserved.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
